doctype html
html(lang="ru-RU")
    head
        title Legal Bet
        link(rel="stylesheet", href="css/style.css")
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width; initial-scale=1")
        script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
        script(src="http://code.jquery.com/jquery-1.9.1.js")
        script(src="js/script.js")
    body
        .container
            header
                nav
                    .logo_container
                        a(href="#")
                            img(src="img/logo.svg", alt="legalbet")
                    .mobile-header-name База знаний
                    .menu_container
                        ul
                            li 
                                a Букмекеры
                            li 
                                a Бонусы
                            li 
                                a Прогнозы
                            li 
                                a Беттинг-центр
                            li 
                                a Эксперты
                            li 
                                a Блоги
                            li.header-inner-button_last 
                                a(href="base") База знаний

                .right_container
                    .right_button_container
                        a(href="#help")
                            .help-button
                                img.left_icon(src="img/icons/16/circle.png", alt="")
                                span Поддержка
                                img.green_round(src="img/icons/Oval.png", alt="")
                    .right_button_container
                        a(href="#search")
                            .search-button
                                img.left_icon(src="img/icons/16/search.png", alt="")
                                span Поиск
                    .right_button_container
                        a(href="#user")
                            .user-button
                                img(src="img/header/right/user_no-avatar.png", alt="")

            .help-min_container
                select.help-min(name="help")
                    option Школа ставок
                    option FAQ
                    option Вопрос-ответ
                    option Советы игроков
                    option Калькулятор расчета выйгрыша
                    
            .stats-area
                h1  Букмекерские конторы с высокими коэффициентами
                img.not-to-sale(src="img/icons/no-transparent.png", alt="")
                .stats-area_inner
                    .stats-area_inner_header
                        .stats-area_inner_header_container.delete-on-phone Букмекер
                        .stats-area_inner_header_right_container
                            .stats-area_inner_header_container Маржа
                            .stats-area_inner_header_container.delete-on-phone Отзывы
                            .stats-area_inner_header_container.delete-on-phone Бонус

                    .stats-area_inner_container
                        a.stats-area_inner_body_container 
                            img(src="img/raiting/marathon.png", alt="")
                        .stats-area_inner_body_right_container
                            a(href="Marge")
                                .stats-area_inner_body_container.marge 2,69%
                                    img(src="img/icons/16/3ple.png", alt="")
                            a.delete-on-phone(href="raiting")    
                                .stats-area_inner_body_container.rating 138
                                    img(src="img/icons/16/dialog.png", alt="")
                            a.delete-on-phone(href="bonus")
                                #last.stats-area_inner_body_container.bonus 2 000
                                    img(src="img/icons/16/gift.png", alt="")
                            a(href="bonus")
                                #last.stats-area_inner_body_container.site На сайт
                            img.arrow(src="img/icons/16/arrow.png", alt="")

                    .stats-area_inner_container
                        a.stats-area_inner_body_container 
                            img(src="img/raiting/1x.png", alt="")
                        .stats-area_inner_body_right_container
                            a(href="Marge")
                                .stats-area_inner_body_container.marge 2,69%
                                    img(src="img/icons/16/3ple.png", alt="")
                            a.delete-on-phone(href="raiting")    
                                .stats-area_inner_body_container.rating 138
                                    img(src="img/icons/16/dialog.png", alt="")
                            a.delete-on-phone(href="bonus")
                                #last.stats-area_inner_body_container.bonus 2 000
                                    img(src="img/icons/16/gift.png", alt="")
                            a(href="bonus")
                                #last.stats-area_inner_body_container.site На сайт
                            img.arrow(src="img/icons/16/arrow.png", alt="")

                    .stats-area_inner_container
                        a.stats-area_inner_body_container 
                            img(src="img/raiting/olimp.png", alt="")
                        .stats-area_inner_body_right_container
                            a(href="Marge")
                                .stats-area_inner_body_container.marge 2,69%
                                    img(src="img/icons/16/3ple.png", alt="")
                            a.delete-on-phone(href="raiting")    
                                .stats-area_inner_body_container.rating 138
                                    img(src="img/icons/16/dialog.png", alt="")
                            a.delete-on-phone(href="bonus")
                                #last.stats-area_inner_body_container.bonus 2 000
                                    img(src="img/icons/16/gift.png", alt="")
                            a(href="bonus")
                                #last.stats-area_inner_body_container.site На сайт
                            img.arrow(src="img/icons/16/arrow.png", alt="")

                    .stats-area_inner_container
                        a.stats-area_inner_body_container 
                            img(src="img/raiting/888.png", alt="")
                        .stats-area_inner_body_right_container
                            a(href="Marge")
                                .stats-area_inner_body_container.marge 2,69%
                                    img(src="img/icons/16/3ple.png", alt="")
                            a.delete-on-phone(href="raiting")    
                                .stats-area_inner_body_container.rating 138
                                    img(src="img/icons/16/dialog.png", alt="")
                            a.delete-on-phone(href="bonus")
                                #last.stats-area_inner_body_container.bonus 2 000
                                    img(src="img/icons/16/gift.png", alt="")
                            a(href="bonus")
                                #last.stats-area_inner_body_container.site На сайт
                            img.arrow(src="img/icons/16/arrow.png", alt="")
            .right-block
                .helpful-block
                    a(href="school") Школа ставок
                    p
                        a(href="FAQ") FAQ
                    p
                        a(href="q_a") Вопрос-ответ
                            span.right-menu-number 3
                    p
                        a(href="advices") Советы игроков
                    p
                        a(href="calc") Калькулятор расчета выйгрыша

                .subscribe-block
                    h2 Курс молодого ставочника
                        img(src="img/icons/a_ is licensed by.png", alt="")
                    p Помогаем разобраться со ставками и букмекерскими конторами
                    a(href="learn_more") Подробности
                    form(action="")
                        input(required type="text"  name="user_name" placeholder="Ваше имя")
                        input(required type="text"  name="user_email" placeholder="Email")
                        <button type="submit" class="order">Подписаться на курс</button>
                        input.accept_checkbox(required type="checkbox"  name="user_agree")
                        label(for="user_agree") Соглашаюсь 
                            a(href="user_agreement") с условиями

        .mistery-black-block
        button.mobile-navigation(onClick="mobileMenu()")
            img(src="img/icons/16/3ple_black.png", alt="")

        .mobile-menu_left
            
            .mobile-menu_container
                img(src="img/logo.svg", alt="")
                ul
                    li 
                        a Букмекеры
                    li 
                        a Бонусы
                    li 
                        a Прогнозы
                    li 
                        a Беттинг-центр
                    li 
                        a Эксперты
                    li 
                        a Блоги
                    li.header-inner-button_last 
                        a(href="base") База знаний